# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
.ipynb_checkpoints/_config-checkpoint.yml
.ipynb_checkpoints/beautiful-jekyll-theme-checkpoint.gemspec
.ipynb_checkpoints/aboutme-checkpoint.md
.ipynb_checkpoints/404-checkpoint.html
.ipynb_checkpoints/index-checkpoint.html
.ipynb_checkpoints/screenshot-checkpoint.png
.ipynb_checkpoints/staticman-checkpoint.yml
.ipynb_checkpoints/feed-checkpoint.xml
.ipynb_checkpoints/tags-checkpoint.html
_posts/.ipynb_checkpoints/2020-02-26-flake-it-till-you-make-it-checkpoint.md
_posts/.ipynb_checkpoints/2020-02-28-sample-markdown-checkpoint.md
assets/css/.ipynb_checkpoints/beautifuljekyll-checkpoint.css
assets/css/.ipynb_checkpoints/pygment_highlights-checkpoint.css
assets/img/.ipynb_checkpoints/bgimage-checkpoint.png
assets/img/.ipynb_checkpoints/CarmanCaterGradPhoto-checkpoint.jpg
assets/img/.ipynb_checkpoints/crepe-checkpoint.jpg
.ipynb_checkpoints/CHANGELOG-checkpoint.md
.ipynb_checkpoints/Gemfile-checkpoint
.ipynb_checkpoints/README-checkpoint.md
_data/.ipynb_checkpoints/ui-text-checkpoint.yml
_includes/.ipynb_checkpoints/head-checkpoint.html
_includes/.ipynb_checkpoints/search-checkpoint.html
_layouts/.ipynb_checkpoints/post-checkpoint.html
.ipynb_checkpoints/islpSolutions-checkpoint.md
.ipynb_checkpoints/publicKeyCryptographyUniversity-checkpoint.md
.ipynb_checkpoints/publicKeyCryptographyProject-checkpoint.html
.ipynb_checkpoints/ProjectsUniversity-checkpoint.md
.ipynb_checkpoints/LICENSE-checkpoint
_includes/.ipynb_checkpoints/commentbox-checkpoint.html
_includes/.ipynb_checkpoints/footer-minimal-checkpoint.html
_layouts/.ipynb_checkpoints/default-checkpoint.html
_layouts/.ipynb_checkpoints/page-checkpoint.html
assets/css/.ipynb_checkpoints/beautifuljekyll-minimal-checkpoint.css
assets/css/.ipynb_checkpoints/bootstrap-social-checkpoint.css
assets/css/.ipynb_checkpoints/staticman-checkpoint.css
assets/js/.ipynb_checkpoints/beautifuljekyll-checkpoint.js
assets/js/.ipynb_checkpoints/staticman-checkpoint.js
.ipynb_checkpoints/ISLP-checkpoint.md
.ipynb_checkpoints/resume-checkpoint.md
.ipynb_checkpoints/radonsTheoremPresentation-checkpoint.html
.ipynb_checkpoints/ellipsesFittingTheOrbitsOfPlanetsPaper-checkpoint.html
.ipynb_checkpoints/Projects-checkpoint.md
.ipynb_checkpoints/currentStudies-checkpoint.md
.ipynb_checkpoints/minimalSurfacesPresentation-checkpoint.html
.ipynb_checkpoints/photos-checkpoint.html
assets/css/.ipynb_checkpoints/photosStyle-checkpoint.css
assets/js/.ipynb_checkpoints/photos-checkpoint.js
.ipynb_checkpoints/photos-checkpoint.md
.ipynb_checkpoints/Survey Form-checkpoint.html
.ipynb_checkpoints/learning-checkpoint.md
